<div class="btn-group dropleft pull-right">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Welcome&nbsp;:&nbsp;{{getname.username | uppercase}}
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" routerLink='./batches'>Batches</a>
        <a class="dropdown-item" routerLink='./timetable'>TimeTable</a>
        <a class="dropdown-item" routerLink='./msession'>Sessions</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink='./mprofile'>Profile</a>
    </div>
</div>
<h3>Faculty</h3>
<hr>
<div class="row">
    <div class="card text-white bg-dark col-2 mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">TotalBatches :- {{batchcount[0].fbc }}</div>
    </div>
    <!-- <div class="card text-white bg-primary col-3 mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">No.Students:-</div>
    </div>
    <div class="card text-white bg-primary col-3 mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">:-</div>
    </div>
    <div class="card text-white bg-primary col-3 mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">TotalBatches:-</div>
    </div> -->

</div>
<hr>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>