<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<button class="btn btn-outline-info btn-sm" type="button" routerLink="/sidebar/admin/admin/users" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    + Users
</button>&nbsp; <span class="badge badge-info">Admin</span>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="container">
            <form [formGroup]="userform" (ngSubmit)="submit()">
                <h3>New User</h3>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Employee-Name</label>
                        <select class="custom-select mr-sm-2" formControlName="empid" id="inlineFormCustomSelect">
                          <option selected value="" disabled>Select-Employee</option>
                          <option  *ngFor="let e of getallemp" value="{{e.empid}}" >{{e.ename}}</option>
                          
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Department</label>
                        <select class="custom-select mr-sm-2" formControlName="did" id="inlineFormCustomSelect">
                          <option selected value="" disabled>Select-Department</option>
                          <option  *ngFor="let d of getdept" value="{{d.did}}" >{{d.deptname}}</option>
                          
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">UserName</label>
                        <input type="text" class="form-control" formControlName="username" id="inputPassword4"
                            placeholder="ADMIN">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Password</label>
                        <input type="password" class="form-control" id="inputAddress" formControlName="password"
                            placeholder="CEO">
                    </div>
                </div>
               
                <div class="form-group">
                    <label for="level">Level</label>
                    <select class="custom-select mr-sm-2" formControlName="role" id="inlineFormCustomSelect11">
                        <option selected value="" disabled>Select-Level</option>
                        <option value="L1">Level-1</option>
                        <option value="L2">Level-2</option>
                        <option value="L3">Level-3</option>
                        <option value="L4">Level-4</option>
                        <option value="L5">Level-5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Editing</label>
                    <select class="custom-select mr-sm-2" formControlName="editiong" id="inlineFormCustomSelect12">
                      <option selected value="" disabled>Editing</option>
                      <option value="Allow">Allow</option>
                      <option value="Not Allow">Not Allow</option>

                  </select>
                </div>
                <div class="form-group">

                    <label for="level">Status</label>

                    <select class="custom-select mr-sm-2" formControlName="status" id="inlineFormCustomSelect1">
                        <option selected value="" disabled>Status</option>
                        <option value="Active">Active</option>
                        <option value="Blocked">Blocked</option>

                    </select>

                </div>
                <button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">Save</button>
            </form>

        </div>
    </div>
</div>
<div class="table-responsive-lg mt-1">
    <table class="table table-bordered" >
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">EmployeeName</th>
                <th scope="col">Username</th>
                <th scope="col">Level</th>
                <th scope="col">Editing</th>
                <th scope="col">Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of getalluser">
                <td>{{u.ename}}</td>
                <td>{{u.username}}</td>          
                <td>{{u.role}}</td>
                <td><span [ngClass]="u.editiong=='Allow'?'badge badge-success':'badge badge-danger'">{{u.editiong}}</span>
                </td>
               <td>{{u.status}}</td>
                <td><button class="btn btn-outline-info btn-sm" [routerLink]="['./edituser',u.uid]"type="button"
                        data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        <i class="fas fa-user-edit"></i>
                    </button>&nbsp;
                    <button type="button" (click)="deleteuser(u.uid)" class="btn btn-outline-danger btn-sm "><i
                            class="far fa-trash-alt"></i></button>
                </td>
            </tr>


        </tbody>

    </table>
</div>

